body{
  background-image: url("../images/background.jpg");
  background-size: contain;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  padding-top: 10px;

}

main .row {
  margin-bottom: 20px;
}

.box {
  height: 550px;
  padding-top: 10px;
}


.orange {
  text-align: center;
/* background-color: orange;*/
}
.col-2 .orange{
  text-align: left;
}
 button{
  height: 25px;
  font-size: 12px;
  background-color: white;
  border-radius: 5px;
  border: 1 px solid gray;
}
#url-text, textarea{
  width: 453px;
  margin:5px; 
 }
 input{
  height:25px;
 }
 input,textarea{
  font-size: 12px;
 }
ul {
    list-style:none;
    padding-left:0;
}​

label{
  background-color: green;

}
#doc-name{
  width: 250px;
}
a{
    text-decoration: none;
    color: black;
    
}
/* unvisited link */
a:link {
    color: black;
}

/* visited link */
/*a:visited {
    color: purple;
}
*/
/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
}